.circle {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background-color: crimson;
    
}

.rectangle {
    height: 200px;
    width: 300px;
    border:  solid black 5px;
    background-color:white ;
    display: flex;
    justify-content: center;
    align-items: center;
}

