.rojo{
    background-color:red;
    height: 100px;
    width: 150px;
}

.rojo-izquierdo{
    background-color:red;
    height: 100px;
    width: 250px;
}

.azul-grande{
    background-color:blue;
    height: 100px;
    width: 20px;
}

.blanco-grande{
    background-color:rgb(255, 255, 255);
    height: 100px;
    width: 20px;
}

.primero{
    display: flex;
    flex-direction: row;
}

.blanco-mitad{
    background-color:rgb(255, 255, 255);
    height: 20px;
    width: 170px;
}

.blanco-mitadder{
    background-color:rgb(255, 255, 255);
    height: 20px;
    width: 270px;
}

.azul-mitad{
    background-color:blue;
    height: 20px;
    width: 20px;
}

.segundo{
    display: flex;
    flex-direction: row;
}

.azul-completo{
    background-color:blue;
    height: 20px;
    width: 460px;
}

.tercero {
    display: flex;
    flex-direction: row;
}